/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

.highlight-positive {
  background-color: #D9F2DD;
}

.highlight-negative {
  background-color: #F2DBD9;
}

.highlight-mixed {
  background-color: #e8bd6d3d;
}

.highlight-neutral {
  background-color: #eaf09b6b;
}
